body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #be4cc2;
    color: white;
    text-align: center;
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Envelope Section */
#envelope-section img {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s;
}

#envelope-section img:hover {
    transform: scale(1.1);
}

/* Hidden Content */
.hidden {
    display: none;
}

/* Heart Tree Section */
.heart-container {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

#heart-tree span {
    position: absolute;
    color: rgb(248, 244, 244);
    animation: float 5s infinite;
    font-size: 20px;
}

/* Message Section */
.message h2 {
    margin-top: 20px;
    color: #653c94;
    font-style: italic;
}

.message p {
    margin: 10px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#countdown {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Animation */
@keyframes float {
    0% {
        transform: translateY(100vh) rotate(0deg);
    }
    100% {
        transform: translateY(-100vh) rotate(360deg);
    }
}